body {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    background-color: black;
}

.background-photo {
    height: 100vh;
    background-color: black;
    position: relative;
}

.background-photo img{
    height: 100%;
    width: 28vw;
}

.input-panel {
    width: 48vw;
    background-color: white;
}

.logo {
    position: absolute;
    display: flex;
    top: 20vh;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    height: 135px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-family: 'roboto';
}

.logo img {
    height: 60%;
    width: auto;
    padding-right: 20px;
}

.main-panel {
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
}

.header {
    height: 33vh;
}

.input-panel {
    background-color: white;
    height: 30vh;
    box-shadow: 0px 8px 15px -5px rgba(0, 0, 0, 0.3);
}